[features]
seeds = true
skip-lint = false

[programs.devnet]
pm15 = "Pm15KGLmRV1RVsJwbpXLGkK3nQr7opqfDYfMTqQeGDF"

[programs.mainnet]
pm15 = "Pm15KGLmRV1RVsJwbpXLGkK3nQr7opqfDYfMTqQeGDF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
