[features]
seeds = true
skip-lint = false

[programs.devnet]
pm15 = "GEqMQayWYNssnTKPVus8u3yuCFt2xqqfzSyqijqRuiko"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.devnet.solana.com"
